{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "eqeqeq": 2,
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      2,
      "single"
    ],
    "curly": [
      2,
      "all"
    ],
    "no-use-before-define": 0
  },
  "globals": {
    "__POINZ_CONFIG__": false,
    "beforeEach": false
  }
}
