$zuehlkePurple = #985b9c
$zuehlkeOrange = #ff820a
$zuehlkeDarkGrey = #4b5054
$zuehlkeLightGrey = #575d62
$zuehlkeLighterGrey = #e8e8e8
$zuehlkeFontGrey = #484e54
$zuehlkeFont = "aa_zuehlke_otpsregular", "Helvetica Neue", Helvetica, Arial, sans-serif

@font-face {
  font-family 'aa_zuehlke_otpsregular'
  src url('./aazuotps_30.12.13-webfont.woff2') format("woff2")
  font-weight normal
  font-style normal
}

body {
  color $zuehlkeFontGrey
}

#app-root {
  position absolute
  top 0
  left 0
  bottom 0
  right 0
}

.clickable {
  cursor pointer
}

.pure-button {
  border-radius 2px

  &.pure-button-primary {
    background-color $zuehlkePurple
  }

  i.button-icon-left {
    padding-right 8px
  }

  i.button-icon-right {
    padding-left 8px
  }
}

a {
  color $zuehlkeOrange
}

.landing {
  background #1f8dd6
  z-index 1
  overflow hidden
  width 100%
  height 100%
  top 0
  left 0
  position fixed !important
  background url('./landing_bg_z.jpg') no-repeat center center fixed
  background-size cover

  .landing-inner {
    margin-top 20%
  }

  .eyecatcher {
    margin auto
    display flex
    justify-content center
    align-items center
    flex-direction column
    width 400px
    max-width 85%
    background rgba(0, 0, 0, 0.5)
    color white
    padding 18px 32px 32px 32px
    border-radius 2px
    margin-bottom 16px

    input {
      color $zuehlkeFontGrey
    }

    .info-text {
      display flex
      align-items center
      .leading-paragraph-icon {
        font-size 30px
        margin-right 16px
      }
    }

    &.loading {
      color white
      font-size larger
    }

    .room-id-wrapper, .username-wrapper {
      background #fff
      padding 8px
      border 1px solid #ccc
      width 300px
      display flex
      align-items stretch
      border-radius 2px

      span {
        padding 8px 0
      }

      input {
        width 80%
        border none
        outline none
      }
    }

    &.room-history {
      color white

      ol {
        list-style-type none
        margin 0
        padding 0

        li {
          display inline-block
          color $zuehlkeOrange
          padding 4px 8px
        }
      }
    }
  }
}

.users {
  padding 16px
  padding-top 48px

  .user {
    padding 0 8px
    display inline-block
    position relative

    .avatar {
      border 2px solid $zuehlkeLightGrey
      border-radius 50%
      background white
      width 60px
      height 60px
      padding 4px
      display block
      margin 0 auto
    }

    .user-name {
      text-align center
      margin 4px 0
    }

    .user-estimation {
      transition all 0.2s ease-out
      height 100px
      width 60px
      margin 0 auto
      text-align center
      padding 28px 0
      border-radius 12px
      box-sizing border-box
      font-size 28px
      border 4px dashed white
      background transparent
      color $zuehlkeLighterGrey

      font-family "aa_zuehlke_otpsregular", "Helvetica Neue", Helvetica, Arial, sans-serif

      &.user-estimation-given {
        // user has given estimation, but value is not yet shown
        border 4px solid white
        background $zuehlkeLightGrey
      }

      &.revealed {
        // all estimations are shown
        background white
        color $zuehlkeLightGrey
        border 4px solid white
      }
    }

    .visitor-badge, .disconnected-badge {
      position absolute
      top 0
      right 0
    }

    &.user-own {
      color $zuehlkeOrange
      .avatar {
        border 2px solid $zuehlkeOrange
      }
    }

    &.user-visitor {
      .user-estimation {
        // set attributes !important to override custom card color styles
        border 4px solid transparent !important
        background transparent !important
        color transparent !important
      }
    }

    &.user-disconnected {
      color $zuehlkeLightGrey
      .avatar {
        -webkit-filter grayscale(100%)
        filter gray;
      }

      .disconnected-kick-overlay {
        position absolute
        top 0
        width 72px
        height 72px
        text-align center
        font-size 64px
        color $zuehlkeOrange
        display none
      }

      &:hover {

        .disconnected-kick-overlay {
          display block
        }

        cursor pointer
      }

    }
  }
}

.app-status {
  padding 48px

  ul.rooms {
    display table
    margin 0
    padding 0

    .headers {
      font-weight 700
    }

    li {
      display table-row

      > div {
        display table-cell
        padding 0 4px
      }
    }
  }
}

.top-bar {
  background-color $zuehlkeLightGrey
  color white
  z-index 1003
  position fixed
  top 0
  left 0
  right 0
  height 34px
  padding 0
  box-sizing border-box

  .poinz-logo {
    position fixed
    display block
    top 0
    left 39px
    font-family $zuehlkeFont
    font-size 29px
    color $zuehlkePurple
  }

  .quick-menu {
    position fixed
    display block
    top 0
    right 70px
    padding 8px

    > span {
      display inline-block
      margin-right 4px
    }
  }

  .language-selector ul {
    list-style-type none
    margin 0
    padding 0

    li {
      margin 0
      padding 0
      display inline-block
      cursor pointer

      &:after {
        content "|"
        width 16px
        display inline-block
        text-align center
      }

      &:last-child:after {
        display none
      }
    }
  }
}

// hamburger icon to toggle backlog on small screens
.backlog-toggle {
  position fixed
  display block
  top 0
  left 0
  background $zuehlkeDarkGrey
  font-size 10px
  z-index 10
  width 34px
  height 34px

  .menu-link-inner {
    position relative
    display inline-block
    box-sizing border-box
    padding 8px
    height 100%
    width 100%

    span, span:before, span:after {
      background-color #fff
      width 17px
      height 0.2em
      display inline-block
    }

    span:before, span:after {
      position absolute
      margin-top -0.6em
      content " "
    }

    span:after {
      margin-top 0.6em
    }
  }

}

// wheel icon to toggle user menu
.user-menu-toggle, .log-toggle {
  position fixed
  display block
  top 0
  background $zuehlkeDarkGrey
  z-index 10
  width 34px
  height 34px
  font-size 22px
  padding 4px 8px
  box-sizing border-box
  color white
}

.user-menu-toggle {
  right 34px
}

.log-toggle {
  right 0
}

$userMenuWidth = 300px
.user-menu {
  z-index 10
  position fixed
  width $userMenuWidth
  top 0
  bottom 0
  right $userMenuWidth * -1
  transition all 0.2s ease-out
  background $zuehlkeLightGrey
  -webkit-overflow-scrolling touch
  box-sizing border-box
  padding 8px
  padding-top 27px
  color white

  &.user-menu-active {
    right 0
  }

  h5 {
    color $zuehlkeOrange
    font-weight 700
    margin-bottom 8px
  }

  .pure-form {

    .username-wrapper, .email-wrapper {
      display: flex;
      align-items: stretch;
      padding 4px
      border-bottom 1px solid white

      input {
        width 80%
        border none
        padding 1px 0
      }
    }

    .language-selector-wrapper {
      label {
        display inline-block
        margin-right 8px
        cursor pointer

        /** radio buttons **/
        input {
          margin-right 4px
          display inline-block
        }
      }
    }

    input, textarea {
      background transparent
      color white
      border none
      border-radius 0
      border-bottom 1px solid white
    }
  }
}

.action-log {
  z-index 10
  position fixed
  width $userMenuWidth
  top 0
  bottom 0
  right $userMenuWidth * -1
  transition all 0.2s ease-out
  background $zuehlkeLightGrey
  -webkit-overflow-scrolling touch
  box-sizing border-box
  padding 8px
  padding-top 27px
  color white

  &.action-log-active {
    right 0
  }

  h5 {
    color $zuehlkeOrange
    font-weight 700
    margin-bottom 8px
  }

  .action-log-wrapper {
    top 73px
    bottom 16px
    position absolute
    overflow-x hidden
    overflow-y auto
    left 8px
    right 0

    ul {
      width 100%
      margin 0
      padding 0
      list-style-type none
    }
  }
}

.leave-room-button {
  bottom 8px
  position absolute
  right 8px
}

.pure-form {

  .pure-group {
    input:first-child, textarea:first-child, input:last-child, textarea:last-child {
      border-radius 0
    }
  }

  textarea, input {
    box-shadow none !important
    border-radius none !important
  }

  &.pure-form-stacked label {
    margin-top 16px
  }
}

.waiting {
  // this is needed, so that we can position the gray overlay accordingly
  position relative

  &:before {
    display inline-block
    position absolute
    width 100%
    height 100%
    background rgba(0, 0, 0, 0.3)
    left 0
    top 0
    content " "
  }

  &:after {
    -webkit-animation fa-spin 2s infinite linear
    animation fa-spin 2s infinite linear
    font normal normal normal 14px / 1 FontAwesome
    text-rendering auto
    -webkit-font-smoothing antialiased
    content "\F110"
    position absolute
    left 50%
    top 50%
    font-size 26px
    margin-left -13px
    margin-top -13px
  }
}

$backlogWidth = 300px
.board {
  transition all 0.2s ease-out
  position relative
  min-height 100%
  height auto
  // TODO: currently not shown, discuss Zühlke Branding
  // background $zuehlkeLighterGrey url('../assets/logo-zuehlke-small.png') no-repeat bottom right
  background $zuehlkeLighterGrey

  .backlog {
    transition all 0.2s ease-out
    margin-left $backlogWidth * -1
    width $backlogWidth
    position fixed
    top 0
    left 0
    bottom 0
    z-index 1000
    background $zuehlkeLightGrey
    overflow-y auto
    -webkit-overflow-scrolling touch
    box-sizing border-box
    padding 8px
    padding-top 27px

    .story-hint {
      margin-top 16px
      color white
      text-align center
    }

    .button-group > div {
      padding 0 4px
      box-sizing border-box
    }

    .story-add-form {
      background $zuehlkeDarkGrey
      padding 8px 16px 16px 16px
      margin-bottom 16px
      box-sizing border-box
      border-radius 2px
    }

    .pure-form {
      input, textarea {
        resize vertical
        background transparent
        color white
        border none
        border-bottom 1px solid white
      }
    }

    .stories {
      margin-top 16px

      .story {
        position relative
        color white
        background $zuehlkeDarkGrey
        padding 8px 16px 16px 16px
        margin-bottom 16px
        box-sizing border-box
        border-radius 2px

        // story edit icon (pencil)
        > i.story-edit {
          transition opacity 0.12s ease-out
          opacity 0 // do not show by default
          position absolute
          display block
          top 4px
          right 4px
        }

        // show the pencil when story is hovered
        &:hover > i.story-edit {
          opacity 0.6

          &:hover {
            opacity 1 // show the pencil with full opacity when icon is hovered
          }
        }

        // story delete icon (trash)
        > i.story-delete {
          transition opacity 0.12s ease-out
          opacity 0 // do not show by default
          position absolute
          display block
          top 28px
          right 4px
        }

        // show the trash icon when story is hovered
        &:hover > i.story-delete {
          opacity 0.6

          &:hover {
            opacity 1 // show the trash icon with full opacity when icon is hovered
          }
        }

        &.story-selected {
          border-left 2px solid $zuehlkeOrange
        }

        &.story-waiting {
          > i {
            position absolute
            top 4px
            right 4px
          }
        }

        h4 {
          margin-top 8px
          margin-bottom 0
        }
        .story-text {
          margin-top 4px
        }
      }
    }
  }

  .estimation {
    padding 16px

    .selected-story {
      background $zuehlkeDarkGrey
      color white
      padding 8px

      h4 {
        margin-top 8px
        margin-bottom 0
      }

      .story-text {
        margin-top 4px
      }
    }

    .board-actions {
      margin-top 16px
    }

    .cards {

      button.card, button.card:focus {
        border none
        outline none
        background transparent
        text-align center
        height 100px
        box-sizing border-box
        font-size 28px
        padding 8px
        font-family $zuehlkeFont

        .card-inner {
          position relative
          background #fff
          padding 28px 0
          box-sizing border-box
          border-radius 12px
          border 4px solid white

          &hover {
            border 2px solid $zuehlkeOrange
          }
        }

        &.card-selected {
          .card-inner {
            border 4px solid $zuehlkeOrange
          }
        }
      }

      button.card:focus {
        .card-inner {
          border 4px solid $zuehlkeDarkGrey
        }
      }
    }
  }

}

.version-info {
  position fixed
  bottom 8px
  right 8px
  font-size 9px
  color $zuehlkeFontGrey
}

// on screens bigger than 48em width
@media (min-width 48em) {

  .backlog-toggle {
    position fixed
    left $backlogWidth
    display none
  }

  .top-bar .poinz-logo {
    left 8px
  }

  .board {
    padding-left $backlogWidth
    left 0

    .backlog {
      left $backlogWidth
    }
  }
}

// in every screen-size, if backlog-active class is set, show menu
.board .backlog.backlog-active {
  left $backlogWidth
}
