$zuehlkeBackgroundGrey = rgb(250, 250, 250)
$zuehlkeBlue = #0099CC;
$zuehlkePurple = #985b9c
$zuehlkeOrange = #ff820a
$zuehlkeLightGrey = #575d62
$zuehlkeLighterGrey = #e8e8e8
$zuehlkeFontGrey = #484e54
$zuehlkeFont = "aa_zuehlke_otpsregular", "Helvetica Neue", Helvetica, Arial, sans-serif

@font-face {
  font-family 'aa_zuehlke_otpsregular'
  src url('./aazuotps_30.12.13-webfont.woff2') format("woff2")
  font-weight normal
  font-style normal
}

body {
  color $zuehlkeFontGrey
}

#app-root {
  position absolute
  top 0
  left 0
  bottom 0
  right 0
}

.clickable {
  cursor pointer
}

.pure-button {
  border-radius 2px

  &.pure-button-primary {
    background-color $zuehlkeBlue
  }

  i.button-icon-left {
    padding-right 8px
  }

  i.button-icon-right {
    padding-left 8px
  }
}

a {
  color $zuehlkeOrange
}

.landing {
  background #1f8dd6
  z-index 1
  overflow hidden
  width 100%
  height 100%
  top 0
  left 0
  position fixed !important
  background url('./landing_bg_z2020_lightblue.jpg') no-repeat center center fixed
  background-size cover

  .landing-inner {
    margin-top 20%
  }

  .eyecatcher {
    margin auto
    display flex
    justify-content center
    align-items center
    flex-direction column
    width 400px
    max-width 85%
    background rgba(0, 0, 0, 0.5)
    color white
    padding 18px 32px 32px 32px
    border-radius 2px
    margin-bottom 16px

    input {
      color $zuehlkeFontGrey
    }

    .info-text {
      display flex
      align-items center

      .leading-paragraph-icon {
        font-size 30px
        margin-right 16px
      }

      .leading-paragraph-icon-small {
        font-size 20px
        margin-right 16px
      }
    }

    &.disclaimer-text {
      font-size: 13px;
    }

    &.loading {
      color white
      font-size larger
    }

    .room-alias-wrapper, .username-wrapper {
      background #fff
      padding 8px
      border 1px solid #ccc
      width 300px
      display flex
      align-items stretch
      border-radius 2px

      span {
        padding 8px 0
      }

      input {
        width 80%
        border none
        outline none
      }
    }

    .room-alias-wrapper {
      margin-top 20px
      width 200px
    }


    .create-room-button {
      border-radius: 2px 0 0 2px;
    }

    .create-room-extend-button {
      border-radius: 0 2px 2px 0;
    }
  }
}

.avatar {
  border 2px solid $zuehlkeLightGrey
  border-radius 50%
  background white
  width 60px
  height 60px
  padding 4px
  display block
  margin 0 auto
}

.users {
  padding 16px
  padding-top 48px

  .user {
    padding 0 8px
    display inline-block
    position relative


    .user-name {
      text-align center
      margin 4px 0
    }

    .user-estimation {
      transition all 0.2s ease-out
      height 100px
      width 60px
      margin 0 auto
      text-align center
      padding 28px 0
      border-radius 12px
      box-sizing border-box
      font-size 28px
      border 4px dashed $zuehlkeLighterGrey
      background transparent
      color $zuehlkeLightGrey

      font-family "aa_zuehlke_otpsregular", "Helvetica Neue", Helvetica, Arial, sans-serif

      &.user-estimation-given {
        // user has given estimation, but value is not yet shown
        border 4px solid white
        background $zuehlkeLightGrey
        color $zuehlkeLighterGrey
      }

      &.revealed {
        // all estimations are shown
        background white
        color $zuehlkeLightGrey
        border 4px solid white
      }
    }

    .visitor-badge, .disconnected-badge {
      position absolute
      top 0
      right 0
    }

    &.user-own {
      color $zuehlkeOrange

      .avatar {
        border 2px solid $zuehlkeOrange
      }
    }

    &.user-visitor {
      .user-estimation {
        // set attributes !important to override custom card color styles
        border 4px solid transparent !important
        background transparent !important
        color transparent !important
      }
    }

    &.user-disconnected {
      color $zuehlkeLightGrey

      .avatar {
        -webkit-filter grayscale(100%)
        filter gray;
      }

      .disconnected-kick-overlay {
        position absolute
        top 0
        width 72px
        height 72px
        text-align center
        font-size 64px
        color $zuehlkeOrange
        display none
      }

      &:hover {

        .disconnected-kick-overlay {
          display block
        }

        cursor pointer
      }

    }
  }
}

.app-status {
  padding 48px

  ul.rooms {
    display table
    margin 0
    padding 0

    .headers {
      font-weight 700
    }

    li {
      display table-row

      > div {
        display table-cell
        padding 0 4px
      }
    }
  }
}

.top-bar {
  z-index 1003
  display flex
  justify-content space-between
  position fixed
  box-shadow 0 1px 2px 0 #cccccc
  background $zuehlkeBackgroundGrey
  top 0
  left 0
  right 0
  height 34px
  padding 0
  box-sizing border-box

  .left-logo-container {
    display flex

    .poinz-logo {
      font-family $zuehlkeFont
      font-size 29px
      padding-left 8px
      color $zuehlkePurple
    }
  }


  .quick-menu {
    display block

    .whoami {
      padding 0 8px

      .whoami-extended {
        display none
      }

      &:hover {
        .whoami-extended {
          display inline-block
        }

        .whoami-simple {
          display none
        }
      }

    }

    // wheel icon to toggle user menu
    // list  icon to toggle action log

    a.user-menu-toggle, a.log-toggle, a.leave-room {
      display inline-block
      width 34px
      height 34px
      font-size 22px
      padding 4px 8px
      box-sizing border-box
      color white
      border-radius 0
      background $zuehlkeBlue

    }

  }

  .language-selector ul {
    list-style-type none
    margin 0
    padding 0

    li {
      margin 0
      padding 0
      display inline-block
      cursor pointer

      &:after {
        content "|"
        width 16px
        display inline-block
        text-align center
      }

      &:last-child:after {
        display none
      }
    }
  }
}

// hamburger icon to toggle backlog on small screens
.backlog-toggle {
  display block
  font-size 10px
  z-index 10
  width 34px
  height 34px
  background $zuehlkeBlue

  .menu-link-inner {
    position relative
    display inline-block
    box-sizing border-box
    padding 8px
    height 100%
    width 100%

    span, span:before, span:after {
      background-color #fff
      width 17px
      height 0.2em
      display inline-block
    }

    span:before, span:after {
      position absolute
      margin-top -0.6em
      content " "
    }

    span:after {
      margin-top 0.6em
    }
  }

}

$userMenuWidth = 300px
.user-menu {
  z-index 10
  position fixed
  width $userMenuWidth
  top 0
  bottom 0
  right $userMenuWidth * -1
  transition all 0.2s ease-out
  background $zuehlkeBackgroundGrey
  -webkit-overflow-scrolling touch
  box-sizing border-box
  padding 8px
  padding-top 27px

  &.user-menu-active {
    right 0
  }

  &:after {
    content: "";
    border-right: 1px solid #e8e8e8;
    top: 44px;
    left: 0;
    position: absolute;
    bottom: 20px;
  }

  h5 {
    color $zuehlkeOrange
    font-weight 700
    margin-bottom 8px
    margin-top: 0
  }

  .pure-form {

    .user-menu-section {
      background: white;
      border: 1px solid $zuehlkeLighterGrey
      padding: 8px;
      margin: 16px 0;
    }

    .username-wrapper, .email-wrapper {
      display: flex;
      align-items: stretch;
      padding 4px

      input {
        width 80%
        border none
        border-bottom 1px solid $zuehlkeLighterGrey
        padding 1px 0
        margin-right 4px
      }
    }

    .language-selector-wrapper {
      label {
        display inline-block
        margin-right 8px
        cursor pointer

        /** radio buttons **/

        input {
          margin-right 4px
          display inline-block
        }
      }
    }

    input, textarea {
      background transparent
      border none
      border-radius 0
      border-bottom 1px solid white
    }
  }
}

.action-log {
  z-index 10
  position fixed
  width $userMenuWidth
  top 0
  bottom 0
  right $userMenuWidth * -1
  transition all 0.2s ease-out
  -webkit-overflow-scrolling touch
  box-sizing border-box
  padding 8px
  padding-top 27px

  background $zuehlkeBackgroundGrey

  &:after {
    content: "";
    border-right: 1px solid #e8e8e8;
    top: 44px;
    left: 0;
    position: absolute;
    bottom: 20px;
  }

  &.action-log-active {
    right 0
  }

  h5 {
    color $zuehlkeOrange
    font-weight 700
    margin-bottom 8px
  }

  .action-log-wrapper {
    top 73px
    bottom 16px
    position absolute
    overflow-x hidden
    overflow-y auto
    left 8px
    right 8px

    ul {
      width 100%
      margin 0
      padding 0
      list-style-type none

      li {
        background #fff
        padding 4px
        margin-bottom 8px
        box-sizing border-box
        border 1px solid $zuehlkeLighterGrey

        > span {
          display  block
          margin-right 4px
        }

        > span:first-child {
          color $zuehlkeLightGrey
          font-size 12px
        }
      }
    }
  }
}

.leave-room-button {
  bottom 8px
  position absolute
  right 8px
}

.pure-form {

  .pure-group {
    input:first-child, textarea:first-child, input:last-child, textarea:last-child {
      border-radius 0
    }
  }

  textarea, input {
    box-shadow none !important
    border-radius none !important
  }

  &.pure-form-stacked label {
    margin-top 16px
  }
}

.waiting {
  // this is needed, so that we can position the gray overlay accordingly
  position relative

  &:before {
    display inline-block
    position absolute
    width 100%
    height 100%
    background rgba(0, 0, 0, 0.3)
    left 0
    top 0
    content " "
  }

  &:after {
    -webkit-animation fa-spin 2s infinite linear
    animation fa-spin 2s infinite linear
    font normal normal normal 14px / 1 FontAwesome
    text-rendering auto
    -webkit-font-smoothing antialiased
    content "\F110"
    position absolute
    left 50%
    top 50%
    font-size 26px
    margin-left -13px
    margin-top -13px
  }
}

$backlogWidth = 300px
.board {
  transition all 0.2s ease-out
  position relative
  min-height 100%
  height auto
  background $zuehlkeBackgroundGrey

  .backlog {
    transition all 0.2s ease-out
    margin-left $backlogWidth * -1
    width $backlogWidth
    position fixed
    top 0
    left 0
    bottom 0
    z-index 1000
    overflow-y auto
    -webkit-overflow-scrolling touch
    box-sizing border-box
    padding 8px
    padding-top 27px
    background $zuehlkeBackgroundGrey

    &:after {
      content: "";
      border-right: 1px solid $zuehlkeLighterGrey;
      top: 44px;
      right: 0;
      position: absolute;
      bottom: 20px;
    }

    .story-hint {
      margin-top 16px
      text-align center
    }

    .button-group > div {
      padding 0 4px
      box-sizing border-box
    }

    .story-add-form {
      background white;
      border: 1px solid $zuehlkeLighterGrey
      padding 8px 16px 16px 16px
      margin 16px 0 16px 0
      box-sizing border-box
      border-radius 2px
    }

    .pure-form {
      input, textarea {
        resize vertical
        background transparent

        border none
        border-bottom 1px solid $zuehlkeLighterGrey
      }

      textarea {
        min-height: 64px;
      }
    }

    .stories {
      margin-top 16px

      .story {
        position relative
        background white
        padding 8px 16px 16px 16px
        margin-bottom 16px
        box-sizing border-box
        border: 1px solid $zuehlkeLighterGrey

        > .story-toolbar {

          display flex
          position absolute
          right 4px
          top 4px
          font-size 18px

          > i {
            margin 0 4px
            opacity 0 // do not show by default
            display block
          }
        }

        &:hover > .story-toolbar i {
          opacity 0.6

          &:hover {
            opacity 1 // show the pencil with full opacity when icon is hovered
          }
        }

        .consensus-badge {
          display flex
          width 24px
          height 24px
          border-radius 50%
          margin-left 8px

          justify-content center
          align-items center

          > div {
            font-size 12px
            color white
            font-family "aa_zuehlke_otpsregular", "Helvetica Neue", Helvetica, Arial, sans-serif
          }


        }

        &.story-selected {
          border-left 2px solid $zuehlkeOrange
        }

        &.story-waiting {
          > i {
            position absolute
            top 4px
            right 4px
          }
        }

        h4 {
          line-height 24px
          display flex
          margin-top 8px
          margin-bottom 0
        }

        .story-text {
          margin-top 4px
          white-space pre-wrap
          display inline-block
        }
      }
    }
  }

  .estimation {
    padding 16px

    .selected-story {
      background white
      border: 1px solid $zuehlkeLighterGrey
      padding 8px

      h4 {
        margin-top 8px
        margin-bottom 0
      }

      .story-text {
        margin-top 4px
        white-space pre-wrap
        display inline-block
      }
    }

    .board-actions {
      margin-top 16px
    }

    .cards {

      display flex
      flex-wrap wrap

      button.card, button.card:focus {
        min-width 30vw
        display block
        border none
        outline none
        background transparent
        text-align center
        height 100px
        box-sizing border-box
        font-size 28px
        padding 8px
        font-family $zuehlkeFont

        .card-inner {
          position relative
          background #fff
          padding 28px 0
          box-sizing border-box
          border-radius 12px
          border 4px solid white

          &hover {
            border 2px solid $zuehlkeOrange
          }
        }

        &.card-selected {
          .card-inner {
            border 4px solid $zuehlkeOrange
          }
        }
      }

      button.card:focus {
        .card-inner {
          border 4px solid $zuehlkeDarkGrey
        }
      }
    }
  }

}

.room-footer {
  display flex
  justify-content flex-end
  align-items baseline
  position fixed
  bottom 8px
  right 8px
  font-size 9px
  color $zuehlkeFontGrey

}

.feedback-hint {
  position absolute
  bottom 0
  left 0
  right 1px
  background $zuehlkeBlue
  padding 8px
  color white
  display flex
  font-size 13px
  align-items center

  > span {
    display inline-block
    margin 0 0 0 8px
  }

  .avatar {
    display block
    width 40px
    height 40px
    border-width 1px
  }
}

// on screens bigger than 48em width
@media (min-width 48em) {

  .backlog-toggle {
    position fixed
    left $backlogWidth
    display none
  }

  .board {
    padding-left $backlogWidth
    left 0

    .backlog {
      left $backlogWidth
    }
  }


  .board .estimation .cards {
    button.card, button.card:focus {
      min-width 100px
    }
  }
}

// in every screen-size, if backlog-active class is set, show menu
.board .backlog.backlog-active {
  left $backlogWidth
}
