@font-face {
  font-family: 'poinz';
  src: url('../font/poinz.eot?28609252');
  src: url('../font/poinz.eot?28609252#iefix') format('embedded-opentype'),
       url('../font/poinz.woff2?28609252') format('woff2'),
       url('../font/poinz.woff?28609252') format('woff'),
       url('../font/poinz.ttf?28609252') format('truetype'),
       url('../font/poinz.svg?28609252#poinz') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'poinz';
    src: url('../font/poinz.svg?28609252#poinz') format('svg');
  }
}
*/


[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  font: normal normal normal 14px/1 poinz;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


[class^="icon-"]:before, [class*=" icon-"]:before {

}

.icon-minus-circled:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-ccw:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-floppy:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-flash:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e80c'; } /* '' */
.icon-arrows-cw:before { content: '\e80d'; } /* '' */
.icon-attention:before { content: '\e80e'; } /* '' */
.icon-eye-off:before { content: '\e80f'; } /* '' */
.icon-lock:before { content: '\e810'; } /* '' */
.icon-attention-circled:before { content: '\e811'; } /* '' */
.icon-right-hand:before { content: '\e812'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-star-empty:before { content: '\e814'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-right-big:before { content: '\e816'; } /* '' */
.icon-help:before { content: '\e817'; } /* '' */
.icon-down-dir:before { content: '\e818'; } /* '' */
.icon-up-dir:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-cancel-circled:before { content: '\e81b'; } /* '' */
.icon-markdown:before { content: '\e81c'; } /* '' */
.icon-list-alt:before { content: '\e81d'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-help-1:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
