{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "blockBindings": true,
    "modules": true,
    "arrowFunctions": true,
    "defaultParams": true,
    "destructuring": true,
    "templateStrings": true,
    "spread": true,
    "restParams": true,
    "classes": true,
    "objectLiteralComputedProperties": true
  },
  "rules": {
    "strict": 2,
    "eqeqeq": 2,
    "quotes": [
      2,
      "single"
    ],
    "curly": [
      2,
      "all"
    ],
    "no-use-before-define": 0
  }
}
