# run build on every push (expect master branch) and PR
name: development

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: install dependencies
        run: npm i

      - name: dependency check
        run: npm run dependencyCheck

      - name: run tests
        run: npm test

      - name: build app & docker image
        run: npm run build:dockerImage
